/* Main Banner */
.header h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image:url(../images/pattern.webp);
}

/* Brushses Banner */
.brushes  {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: mediumspringgreen;
}

/* Frames Banner */
.frames {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: lightcoral;
}

/* Paint Banner */
.paint  {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: skyblue;
}

/* Blue text */
 .price   {
font-family: Helvetica;
font-weight: bold;
color: blue;
}